{% extends "admin_base.njk" %}

{% block titulo %}Productos | Listado{% endblock %}

{% block contenido %}
    <table width="100%">
        <br>
        {% for producto in productos %}
            <li>
                {{producto.nombre}}
            </li>
            <a class="btn btn-success" href="/producto/{{ producto._id }}">Ver ficha</a>
            <a class="btn btn-primary" href="/admin/productos/editar/{{ producto._id }}">Editar</a>
            <form style="display:inline" action="/admin/productos/{{ producto._id }}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="btn btn-danger">Borrar</button>
            </form>
        {% endfor %}
    </table>

{% endblock %}