<div class="alert alert-primary">
    <a class="btn btn-default" href="/">Inicio</a>
    &nbsp;&nbsp;
    <a class="btn btn-default" href="/admin">Administración</a>
    &nbsp;&nbsp;
    <a class="btn btn-default" href="/admin/productos/nuevo">Nueva Receta</a>
    &nbsp;&nbsp;
    <a class="btn btn-default" href="/auth/logout">Logout</a>
</div>